
<div class=" hero_home container-fluid  text-white">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <div class="d-flex flex-column">
          <div class="pb-4"><input class="form-control" type="text" size="100" placeholder="search job type, e.g capenter driver etc"></div>
          <div class=" mt-2"><input class="form-control" type="text" size="100" placeholder="search location e.g town, postcode"></div>
        </div>

        <hr>

        <div class="d-flex">
          <div class="">
              <div id="demo" class="collapse">
                <div class="row">
                  <div class="col">

                    <div class=" d-flex justify-content-between pt-3 collapse multi-collapse" id="multiCollapseExample1">
                      <div class="">

                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                          <option selected>Choose any Job</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="">

                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                          <option selected>Choose something you like</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      <div class="">

                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                          <option selected>Choose a new city</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
              <div class=" d-flex options pt-4 ">

                <div class="p-1"><a href="#demo" class="btn btn-primary" data-toggle="collapse">More search options</a></div>
                <div class="p-1"> <%= link_to 'Advanced Search',home_search_path,class:"btn btn-primary" %></div>
                <div class="p-1"> <%= link_to 'Browse jobs',home_job_directory_path,class:"btn btn-primary" %></div>
                <div class="p-1"><a href="#" class="btn btn-primary">Browse employers</a></div>
              </div>
            </div>

        </div>
      </div>
      <div class="col-2">
        <p><span class="big_badge badge badge-warning">17,313</span> live jobs </p>
        <p><button type="button" class="btn btn-primary btn-block">Search</button><P>
      </div>
      <div class="col align-self-center">
          <div class="">
            <%= image_tag('man.png',size:"300") %>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container p-4">
    <div class="card p-4">
        <p class="">
          Lorem ipsum dolor sit amet, <a href="#">consectetur Register</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
        </p>
     </div>

    <div class="card-deck mt-4">
      <div class="card">

        <div class="card-body">
           <h5 class="card-title">Latest News</h5>
           <p class="card-text"><a href="">some text for news</a> <br>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
           <p class="card-text"><a href="">some text for news</a> <br>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...</p>
            <div class="align-self-end"> <a href="#">see all</a></div>
        </div>
      </div>
      <div class="card">

        <div class="card-body">
         <h5 class="card-title">Advice For Job Seekers</h5>
         <p class="card-text spacer">
           <a href="">Makimng some noise</a> <br>
           <a href="">some text for news</a> <br>
           <a href="">some text for news</a> <br>
           <a href="">some text for news</a> <br>
           <a href="">some text for news</a> <br>
         </p>

        </div>
      </div>
      <div class="card">

        <div class="card-body">
           <h5 class="card-title">About SAS jobs</h5>
           <p class="card-text"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et earum aperiam fugiat mollitia. Quasi dignissimos molestias harum provident architecto doloribus sed laudantium itaque debitis.</p>
           <p class="card-text">  <a href="#">Read more about the site</a></p>

            <div class="spacer">

              <h5 class="card-title">SAS Careers</h5>
              <a href="">Makimng some noise <i class="fa fa-link"></i> </a> <br>
              <a href="">some text for news <i class="fa fa-link"></i></a> <br>
              <a href="">some text for news <i class="fa fa-link"></i></a> <br>
            </div>
        </div>

      </div>
    </div>
    <div class="my-3 py-4">
      <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.></p>
    </div>

    <div class="">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item ">
          <a class="nav-link active p-3 " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3 border" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-3" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
        </li>
    </ul>
      <div class="tab-content bg-white p-4" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ducimus voluptatum? Voluptatibus quis aliquid repellendus voluptates mollitia quos amet iste exercitationem. Temporibus deserunt quisquam fuga, ea necessitatibus harum repellat laudantium.</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ducimus voluptatum? Voluptatibus quis aliquid repellendus voluptates mollitia quos amet iste exercitationem. Temporibus deserunt quisquam fuga, ea necessitatibus harum repellat laudantium.</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, ducimus voluptatum? Voluptatibus quis aliquid repellendus voluptates mollitia quos amet iste exercitationem. Temporibus deserunt quisquam fuga, ea necessitatibus harum repellat laudantium.</div>
      </div>
    </div>
</div>



.
