
  <div class="d-flex justify-content-between py-4 my-3">
    <div class="d-flex">
      <div class="p-3">
          <div class="bg-warning p-1"><input class="form-control" type="text" size="100" placeholder="search"></div>
          <div class="bg-warning p-1 mt-2"><input class="form-control" type="text" size="100" placeholder="search"></div>
          <div id="demo" class="collapse">
            <div class="row">
              <div class="col">

                <div class=" d-flex justify-content-between pt-3 collapse multi-collapse" id="multiCollapseExample1">
                  <div class="">

                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                      <option selected>Choose any Job</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="">

                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                      <option selected>Choose something you like</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div class="">

                    <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                      <option selected>Choose a new city</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <div class=" d-flex options pt-4 justify-content-between">

            <div class="font-weight-light"><a href="#demo" class="" data-toggle="collapse">More search options</a></div>
            <div class="font-weight-light"><a href="#" class="" data-toggle="collapse">Advance search</a></div>
            <div class="font-weight-light"><a href="#" class="" data-toggle="collapse">Browse jobs</a></div>
            <div class="font-weight-light"><a href="#" class="" data-toggle="collapse">Browse employers</a></div>
          </div>

            <hr>
          <div class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">Register now</a> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </div>

      </div>
      <div class=" p-3 pl-4">
          <p><span class="lead">17,313</span> <br> live jobs </p>
          <p><button type="button" class="btn btn-primary btn-block">Search</button><P>
      </div>
    </div>
    <div class="">
        <%= image_tag('man.png',size:"300") %>
    </div>
  </div>
  <div class="row py-4">
    <div class="col-sm">
      <div class="card ">
        <div class="card-header text-center text-white bg-info font-weight-bold">
         <h5>Latest News</h5>
        </div>
        <div class="card-body ">
            <p><a href="#">incididunt ut labore et</a> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna....</p>
            <p><a href="#">incididunt ut labore et</a> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna....</p>
            <p><a href="#">incididunt ut labore et</a> <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna....</p>
        </div>
     </div>
    </div>
    <div class="col-sm">
      <div class="card">
          <div class="card-header text-center text-white bg-info font-weight-bold">
           <h5> Advice for job seekers</h5>
        </div>
        <div class="card-body">
            <p><a href="#"> lorem loren ipsun</a> <br></p>
            <p><a href="#"> lorem loren ipsun</a> <br></p>
            <p><a href="#"> lorem loren ipsun</a> <br></p>
            <p><a href="#"> lorem loren ipsun</a> <br></p>
            <p><a href="#"> lorem loren ipsun</a> <br></p>
            <p><a href="#"> lorem loren ipsun</a> <br></p>
            <p><a href="#"> lorem loren ipsun</a> <br></p>



        </div>
     </div>
    </div>
    <div class="col-sm">
      <div class="card ">
          <div class="card-header text-center text-white bg-info font-weight-bold">
        <h5> About Sas jobs</h5>
        </div>
        <div class="card-body">

          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="">Read more</a>
        </div>
     </div>

      <div class="card my-3 p-3">
        <h5>Sas Careers</h5>

        <a href="#"> Health</a>
        <a href="#"> Health</a>
        <a href="#"> Health</a>
      </div>
    </div>
  </div>

  <div class="row my-2 py-4">
    <div class="col">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero assumenda maiores rerum ut! Dolorum ea reiciendis ratione sit ex, nesciunt consequatur,
    </div>
  </div>



  <div class="container my-4 py-4">
    <ul class="nav nav-tabs d-flex justify-content-between text-center" role="tablist">
    <li class="nav-item">
      <a class="nav-link active " data-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content bg-white py-2">
    <div id="home" class="container tab-pane active"><br>
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>
  </div>
