<div class="container">

    <div class="d-flex py-4 justify-content-between">
        <div class="">Browse</div>
        <div class="">
          <ul class="inline">
            <l1 class="pr-4">
              <a href="">New Links</a>
            </l1>
            <l1 class="pr-4">
              <a href="">New Links</a>
            </l1>
            <l1 class="pr-4">
              <a href="">New Links</a>
            </l1>
            <l1 class="pr-4">
              <a href="">New Links</a>
            </l1>
          </ul>
        </div>
    </div>
      <div class="card p-2 mb-4">
          <div class="heading p-2">Employers</div> <hr>
          <div class="d-flex flex-column">
            <div class="p-2 heading">A - Z Directory</div>
            <div class="">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">B</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">C</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">A</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">Y</a></li>
                  <li class="page-item p-1"><a class="page-link" href="#">Z</a></li>

                </ul>
              </nav>
            </div>
          </div>

          <div class="d-flex p-2 ">
            <div class="">
              <span class="heading">By Regions</span> <br> <br>
                <ul class="list-inline">
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                  <li class="list-inline-item border-0"><a href="">Names</a></li>
                </ul>
            </div>
          </div>
      </div>
      <div class="card p-2 mb-4">
          <div class="heading p-2">Jobs By Type</div> <hr>

          <div class="d-flex justify-content-around">
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>

          </div>
      </div>
      <div class="card p-2 mb-4">
          <div class="heading p-2">Jobs By Type</div> <hr>

          <div class="d-flex justify-content-around">
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>

          </div>
      </div>
      <div class="card p-2 mb-4">
          <div class="heading p-2">Jobs By Type</div> <hr>

          <div class="d-flex justify-content-around">
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>
            <div class="">
              <ul class="list-group no-line">
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>
                <li class="list-group-item border-0"><a href="#">Names</a></li>

              </ul>
            </div>

          </div>
      </div>
</div>
