<div class="container">
  <div class="p-2">
    You are viewing search results for: <%= @param_s %>
  </div>

  <div class="d-flex justify-content-between py-3">
    <div class="p-2"> <span class="heading">Select Filters</span></div>
    <div class=""> 18,511 jobs found</div>
    <div class="">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
     </div>

  </div>

  <div class="">
    <div class="row mb-4">
      <div class="col-4">
        <div class="card p-2">
          <div class="form-group p-2">
            <label for="exampleFormControlSelect1"> <h6>Distance</h6></label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1 miles from me</option>
              <option>2 miles from me</option>
              <option>3 miles from me</option>
              <option>4 miles from me</option>
              <option>5 miles from me</option>
            </select>
          </div>
           <div class="p-2">
            <form>
              <div class="form-group">
                <label for="formControlRange"> <h6>Salary Range</h6></label>
                <input type="range" class="form-control-range" id="formControlRange">
              </div>
            </form>
           </div>
          <div class=" p-2">
            <h6>Job Type</h6>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Full Time
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
              <label class="form-check-label" for="defaultCheck2">
                Part Time
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                Bank
              </label>
            </div>
          </div>

            <div class="p-2">
              <button type="button" class="btn btn-success btn-block">Filter</button>
            </div>
        </div>

      </div>

      <div class="col">
        <%= render 'jobs/job' %>
      </div>
    </div>
  </div>
</div>
